.about {
    width: 100%;
    background-color: rgb(255, 247, 247);
    height: 1000px;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1300px;
    margin: 80px auto;
}

.about-logo-paidegua {
    width: 382px;
}

.about-logo-paidegua img {
    display: block;
    width: 100%;
    border-radius: 20px;
}

.about-info {
    margin-top: 40px;
    padding: 20px;
}

.about-info h3 {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 900;
    color: rgb(0, 185, 216);
}

.about-info h2 {
    font-size: 1.7rem;
    font-family: "Montserrat-ExtraBold";
    color: rgb(0, 58, 98);
    line-height: 35px;
    margin: 10px 0 20px 0;
}

.about-info p {
    color: rgb(72, 86, 101);
    line-height: 22px;
}

.about-checked {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 20px;          
    width: 100%;              
    align-items: flex-start;  
}

.checked-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;      
}

.about-checked .checked {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 100%;
    flex-shrink: 0;           
}

.about-checked .checked img {
    width: 12px;              
    height: 12px;
    display: block;           
}

.checked-item p {
    margin: 0;                
    line-height: 1.2;         
}

.about-container a.whatsapp-button {
    display: flex;
    background-color: green;
    color: white;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 14px;
    height: 45px;
    align-items: center;
    width: 240px;
    align-self: flex-start; 
    margin: 20px 0 0 20px;      
}

.about-container a.whatsapp-button img {
    width: 20px;
    height: 20px;
}