.destiny {
    width: 100%;
    background-color: var(--fundo-claro);
}

.destiny-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1300px;
    padding: 90px 20px;
}

.destiny-title h3 {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 900;
    color: var(--azul-claro);
}

.destiny-title h2 {
    font-size: 1.7rem;
    margin-top: 20px;
    font-family: var(--fonte-titulo);
    color: var(--azul-titulo);
    margin-bottom: 15px;
}

.destiny-title p {
    color: var(--texto-cinza);
    line-height: 22px;
}

.destiny-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}

.destiny-cards .card {
    display: flex;
    flex-direction: column;
    max-width: 380px;
    height: auto;
}

.destiny-cards .card img {
    display: block;
    width: 100%;
    height: 470px;
    object-fit: cover;
    border-radius: var(--borda-arredondada-imagem-card) var(--borda-arredondada-imagem-card) 0 0;
}

.info-card {
    padding: 20px;
    border-radius: 0 0 var(--borda-arredondada-imagem-card) var(--borda-arredondada-imagem-card);
    background-color: var(--cor-branco);
    box-shadow: var(--sombra-card);
}

.info-card h3 {
    color: var(--azul-titulo);
    font-size: 18px;
    font-family: var(--fonte-texto);
}

.info-card p {
    margin-top: 10px;
    margin-bottom: 20px;
    color: var(--texto-cinza);
}

.info-card a {
    color: var(--azul-claro);
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}


@media screen and (min-width:768px) {

    .destiny-title h2 {
        font-size: 2rem;
        margin-top: 10px;
    }

    .destiny-title h3 {
        font-size: 15px;
    }

    .destiny-cards .card {
        max-width: 370px;
    }

    .destiny-cards .card img {
        height: 450px;
    }

}


@media screen and (min-width:1024px) {

    .destiny-cards .card {
        max-width: 300px;
    }

    .destiny-cards .card img {
        height: 370px;
    }

    .destiny-title h2 {
        font-size: 2.2rem;
    }

    .info-card a:hover {
        color: var(--azul-titulo);
    }
}