footer {
    width: 100%;
    background-color: oklch(35.977% 0.08197 249.872);
}

.footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    padding: 60px 20px 0px;
}

.footer-container a {
    text-decoration: none;
    color: rgb(225, 220, 206);
    line-height: 22px;
    font-size: .875rem;
}

.footer-container a.logo-container {
    justify-content: flex-start;
}

.footer-container .logo-container h3 {
    color: white;
} 

.footer-container .logo-info p {
    color: rgb(225, 220, 206);
    line-height: 20px;
    font-size: .875rem;
    margin: 10px 0 20px;
}

.footer-container .social-midia {
    display: flex;
    gap: 15px;
    margin-bottom: 40px;
}

.footer-container #icone-whatzApp {
    background-color: oklch(55.489% 0.17662 140.501);
}

.footer-container .background-icone {
    display: flex;
    background-color: rgba(126, 126, 126, 0.2);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
}

.footer-navigation {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 10px;
    margin-bottom: 40px;
}

.footer-container h4 {
    margin-bottom: 10px;
    font-family: "Poppins";
}

.footer-contact {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 10px;
    padding-bottom: 40px;
}

.footer-contact a{
    display: flex;
    align-items: center;
    gap: 5px;
}

.rights-reserved {
    color: rgba(255, 255, 255, 0.6);
    padding: 20px 20px 20px;
    text-align: center;
    font-size: .875rem;
    width: 100%;
    border-top: 1px solid rgba(155, 155, 155, 0.5);
}

/* MEDIA QUERRY */
@media screen and (min-width: 1024px) {
    .footer-container {
    display: flex;
    flex-direction: row;
    max-width: 1300px;
    margin: 0 auto;
    justify-content: space-between;
    }
    .footer-container .logo-info {
        width: 100%;
        max-width: 30%;
    }
    .footer-container .background-icone:hover {
        background-color: rgba(126, 126, 126, 0.4);
    }
    .footer-container #icone-whatzApp:hover {
        background-color: rgba(126, 126, 126, 0.4);
    }
    .footer-navigation a:hover {
        color: rgb(251, 200, 57);;
    }
}