.get-in-touch {
    width: 100%;
    background: var(--gradiente-azul);
}

.container-get-in-touch {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 1300px;
    padding: 80px 20px;
    margin: 0 auto;
}

.container-get-in-touch h2 {
    font-size: 1.7rem;
    font-family: var(--fonte-titulo);
    color: var(--cor-branco);
}

.container-get-in-touch p {
    font-size: 16px;
    line-height: 22px;
    color: var(--cor-branco);
    opacity: 70%;
    margin-top: 20px;
}

.container-get-in-touch a.whatsapp-button {
    display: flex;
    background-color: var(--cor-whatsapp);
    color: var(--cor-branco);
    text-decoration: none;
    padding: 12px 24px;
    border-radius: var(--borda-arredondada-botao);
    font-size: 16px;
    height: 60px;
    align-items: center;
    width: 280px;
    margin: 30px 0 0;
}

/* MEDIA QUERY */
@media screen and (min-width: 768px) {

    .container-get-in-touch h2 {
        font-size: 2rem;
    }

}

@media screen and (min-width: 1024px) {

    .container-get-in-touch h2 {
        font-size: 3rem;
    }

    .container-get-in-touch p {
        font-size: 18px;
    }

}