.hero {
    width: 100%;
    height: 890px;
    background-image: url(../img/background-marajo-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-container {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

/* AREA LOCALIZACAO */
.hero-location {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 24px;
    padding: 20px;
    border-radius: 20px;
    margin: 80px 0 30px;
    background: rgba(104, 180, 150, 0.25);
}

.hero-location p {
    color: white;
    font-weight: bold;
}

.hero-location img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


/* AREA TEXTO */
.hero-text {
    color: white;
}

.hero-text h1 {
    font-weight: 800; 
    font-size: 3rem; 
    line-height: 1.1;
    font-family: "Archivo-Black";

}

.hero-text p {
    font-size: 1.3rem;
    line-height: 1.4;
    margin-top: 30px;
}

.hero-emphasis {
    color: #fdca3a;
}

/* AREA BOTOES */
.hero-buttons {
    margin-top: 30px;
}

.destiny-button {
    display: flex;
    background-color: rgb(115, 115, 115, 0.7);
    color: white;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 24px;
    font-weight: bold;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    border: 1px solid rgb(189, 189, 189);
}

.hero-buttons a.whatsapp-button {
    display: flex;
    background-color: #25D366;
    color: white;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 24px;
    font-weight: bold;
    font-size: 14px;
    height: 45px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* AREA CARDS */
.hero-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 80px;
}

.hero-cards .card {
    box-sizing: border-box;
    background: rgba(104, 180, 150, 0.25);
    color: white;
    width: 110px;
    height: 72px;
    text-align: center;
    border-radius: 24px;
}

.hero-cards .card h2 {
    font-family: "Archivo-Black";
    margin-top: 10px;
}

.hero-cards .card p {
    margin-top: 5px;
    font-size: 12px;

}

/* MEDIA QUERRYS */
@media screen and (min-width: 768px) {
    
    .hero {
        background-image: url(../img/background-marajo-tablet.png);
        height: 700px;
    }

    .hero-location {
        margin-top: 120px;
    }

    .hero-buttons {
        display: flex;
        justify-content: flex-start;
    }

    .destiny-button {
        width: 170px;
        height: 50px;
        margin: 0 0 0 15px;
    }
    
    .hero-buttons a.whatsapp-button {
        width: 320px;
        height: 50px;
    }

    .hero-cards {
        justify-content: flex-start;
    }

    .hero-cards .card {
        width: 160px;
        height: 72px;
        margin-right: 20px;
    }

    .hero-text {
        width: 662px;
    }

}

@media screen and (min-width: 1024px) {
    .hero {
        background-image: url(../img/background-marajo-desktop.png);
        height: 800px;
    }

    .hero-text h1 {
        font-size: 3.5rem;
    }

    .hero-container {
        max-width: 1300px;
        padding: 0 20px;  
        margin: 0 auto;   
    }

    .hero-location {
        margin-top: 120px;
    }

    .hero-buttons a.whatsapp-button:hover {
        background-color: #128C7E;
    }

    .destiny-button:hover {
    background-color: rgb(115, 115, 115, 0.9);
    }  

    
}